#Backend
DB_HOST=mongodb
DB_PORT=27017
DB_USERNAME=admin
DB_PASSWORD=admin
DB_AUTH=admin
GITHUB_CLIENT_SECRET=ghcs
# Frontend
API_URL=http://backend:8080
STOMP_URL=http://localhost:8080
#Both
GITHUB_CLIENT_ID=ghci
